.password-generator-form {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opaque {
    opacity: .5;
}

.code {
    font-family: monospace;
}

.generate-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px;
}

.password-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.password-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;

    &:hover .password {
        color: var(--colorNeutralForeground2BrandHover)
    }
}

.password {
    word-break: break-all;
}

.gradient-text {
    animation: gradientAnimation 1s ease-in-out;
}
  
@keyframes gradientAnimation {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
  